.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.card {
  margin: 2%;
  height: auto;
  width: 300px;
}

.add {
  width: 10%;
}

span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  float: right;
}
