.container {
  margin: 0 auto;
  width: 90%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.card {
  margin-top: 2%;
  margin-right: 2%;
  width: 350px;
  max-height: 350px;
}

span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  float: right;
}
