<div class="wrapper">
  <div>
    <button class="add" mat-raised-button color="primary" (click)="addTodo()">Add</button>
  </div>
  <div>
    <form class="search">
      <mat-form-field class="full-width">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Searching..." [(ngModel)]="query">
      </mat-form-field>
    </form>
  </div>
</div>

<div class="container">
  <div class="card" *ngFor="let todo of todos | search : query; i as index">
    <mat-card>
      <span>{{i+1}}</span><br>
      <span style="visibility: hidden">{{todo._id}}</span>
      <mat-card-header>
        <mat-card-title>{{todo.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{todo.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editTodo(todo._id)">EDIT</button>
        <button mat-button (click)="deleteTodo(todo._id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>