<mat-card class="container">

  <mat-card-title class="title">Sign Up</mat-card-title>

  <form class="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Enter name:</mat-label>
      <input matInput type="text" placeholder="test" [(ngModel)]="user.name" name="name" id="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter surname:</mat-label>
      <input matInput type="text" placeholder="test" [(ngModel)]="user.surname" name="surname" id="surname">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter email:</mat-label>
      <input matInput type="email" placeholder="test" [(ngModel)]="user.email" name="email" id="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter phone:</mat-label>
      <input matInput type="tel" placeholder="test" [(ngModel)]="user.phone" name="phone" id="phone">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter pasword:</mat-label>
      <input matInput type="password" placeholder="admin" [(ngModel)]="user.password" name="password" id="password">
    </mat-form-field>
    <br>
    <br>

    <button type="submit" mat-raised-button color="primary">Registration</button>
    <button type="submit" mat-raised-button [routerLink]="['/log-in']"
      routerLinkActive="router-link-active">Login</button>
  </form>

</mat-card>