.container {
  margin: 0 auto;
  margin-top: 5%;
  width: 40%;
}

.form {
  margin-left: 5%;
  width: 90%;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

button {
  margin-left: 2%;
}