/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
}

mat-card:hover {
  cursor: pointer;
  box-shadow: 2px 3px 12px 0 #4e4d4d !important;
}
