/* You can add global styles to this file, and also import other style files */
@import "styles/spinner.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  margin: 0;
  padding: 0;
}

mat-card:hover {
  cursor: pointer;
  background-color: rgba($color: #f3efef, $alpha: 0.6);
  box-shadow: 2px 3px 12px 0 #4e4d4d !important;
}
